<%= simple_form_for @roster do |f| %>
 <div class "form-inputs">
 <%= f.input :project_id, class: 'main-form' %>
 <%= f.label :week %>
 <%= f.text_field  :week , class: 'main-form datepicker', placeholder: "Select a new week (Monday)" %>
 <p> Make sure to update the projects End date </p>
   
   </div>

    <table class = "table" >
      <thead>
        <tr>
          <th>Name </th>
          <th>Per Diem </th>
          <th>Expense Code </th>
          <th> Shift </th>
        </tr>
      </thead>

      <tbody class = "fields">
           <%= f.fields_for :roster_lists do |builder| %>

   	
<tr>
   		<td> <%= builder.input  :employee_id, label_method: :full_name , label: false%> </td>
   		<td> <%= builder.input :perdiem , label: false%> </td>
   		<td> <%= builder.input :expense_code, label: false %> </td>
        <td> <%= builder.input :shift_id , label: false%> </td>
   	</tr>

    <% end %>
</tbody>
</table>

<div class = "form-action">
    <%= f.submit "Submit" %>
  </div>
<% end %>


(:project_id, :week , 
    roster_lists_attributes: [:id, :employee_id, :perdiem, :expense_code, :shift_id, :destroy ])