
<tr class = "nested-fields">
	<td> 
		<%= link_to_remove_association "Remove Employee", f , class: 'btn btn-primary btn-xs'  %>
	</td>
   		<td> <%= f.association :employee, label_method: :full_name , label: false%> </td>
   		<td> <%= f.input :perdiem , label: false%> </td>
   		<td> <%= f.input :expense_code, label: false %> </td>
        <td> <%= f.input :shift_id , label: false%> </td>
   	</tr>
