<tr>
		
		<td>
			<%= project.project_name %> 
		</td>
		<td>
			<%= project.city %>
		</td>
		<td>
			<%= project.start_date %>
		</td>
	
		<td>
			<%= project.end_date %>
		</td>
	
		<td>
			<%= project.status %>
		</td>
	
		<td>
			<%= project.num_of_employees %>
		</td>
	
	
	
		<td>
			<%= link_to  "<i class='glyphicon glyphicon-eye-open'> </i>".html_safe, 
			 project_path(project)  %>    
		</td>
	
		<td>
			<%= link_to "<i class='glyphicon glyphicon-pencil'> </i>".html_safe, 
			edit_project_path(project)  %>    
		</td>
	
		 <td><%= link_to  "<i class='glyphicon glyphicon-trash' > </i>".html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</td>
	</tr>

