
			 	<p id="notice"><%= notice %></p>

					<p>
					  <strong>Address:</strong>
					  <%= @project.address %>
					</p>

					<p>
					  <strong>Start Date:</strong>
					  <%= @project.start_date.strftime("%m/%d/%y") %>
					</p>

					<p>
					  <strong>End Date:</strong>
					<%= @project.end_date.strftime("%m/%d/%y") %>
					</p>

					<p>
					  <strong>Duration:</strong>
					  <%= @project.duration %> Weeks
					</p>

					<p>
					  <strong>Site Manager:</strong>
					     <%= @project.site_manager %>
					</p>

					<p>
					  <strong>Project Manager:</strong>
					  <%= @project.project_manager %>
					</p>

						

			 