 <div class = "panel panel-primary ">


<div class="panel-heading"> <%= @project.project_name %>  </div>

	<div class="panel-body">



<div class = "container">
	<div class = "row" >
        
		<div class = "col-md-4 show">
          <div class = "panel">
			
			 <div class = "panel-body">
			 	<p id="notice"><%= notice %></p>

					<p>
					  <strong>Address:</strong>
					  <%= @project.address %>
					</p>

					<p>
					  <strong>Start Date:</strong>
					  <%= @project.start_date.strftime("%m/%d/%y") %>
					</p>

					<p>
					  <strong>End Date:</strong>
					<%= @project.end_date.strftime("%m/%d/%y") %>
					</p>

					<p>
					  <strong>Duration:</strong>
					  <%= @project.duration %> Weeks
					</p>

					<p>
					  <strong>Site Manager:</strong>
					  
					</p>

					<p>
					  <strong>Project Manager:</strong>
					  <%= @project.project_manager %>
					</p>

						Project ID :  <%= @project.id %>

			 </div>
	          </div>
			 </div>
		 <div class = "col-md-8">

		 	<div class = "panel panel-roster">
			 <div class = "panel-body ">
		 	<table class = "table table-striped table-hover ">
				<thead>
				<tr>
				
				  <th colspan="3"></th>
				</tr>
				</thead>

				<tbody>
				<% @project.rosters.each do |roster| %>

				  <tr>
			
				    <td> <strong> Week of: <%=roster.week.strftime('%m/%d/%Y') %> </strong></td>
				    
				    <td> <%= link_to "<i class='glyphicon glyphicon-pencil'> </i>".html_safe, edit_roster_path(roster) %> </button></td>
				    
				    <tr>
				    	<th>Name </th>
				      <th> Phone </th>
				      <th> Per Diem </th>
				      <th> Expense Code </th>
				      <th> Shift </th>
				     </tr>
				  		<% roster.roster_lists.each do |list| %>

				        <tr>
				        	
				        	<td> <%= list.employee.full_name %> </td>
				        	<td> <%= list.employee.phone %> </td>

				        	<td> <%= list.perdiem %> </td>
				        	<td> <%= list.expense_code%> </td>
				        	<td> <%= list.shift_id%> </td>

				        </tr>
                      

                      <% end %>
							

				<% end %>


				</tbody>
				</table>

			</div>
			</div>

		 </div>







  
   <td><%= link_to "View Rosters", "" %></td>
</div>

</div>


    


