<p id="notice"><%= notice %></p>

<h1>Roster Lists</h1>

<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Roster</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roster_lists.each do |roster_list| %>
      <tr>
        <td><%= roster_list.roster.id %></td>
        <td><%= roster_list.employee.full_name %></td>
        <td><%= link_to 'Show', roster_list %></td>
        <td><%= link_to 'Edit', edit_roster_list_path(roster_list) %></td>
        <td><%= link_to 'Destroy', roster_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roster List', new_roster_list_path %>
